@charset 'utf-8';

img {
    border: 0;
    height: auto;
    max-width: 100%;
}

.figure {
    margin: 30px auto;
    text-align: center;
}

.figure .photo {
    width: 30%;
}

.figure .desc {
    width: 55%;
}

.figure > *{
	margin: .5rem auto;
}



.answers{
	width: 55%;
	margin: 1.2rem auto;
}

.answers .answer{
	width: 60%;
	margin: 1rem auto;
	text-align: left;
}

.answers .answer input{
	margin-right: .7rem;
}



.actions{
	width: 20%;
	min-width: 150px;
	margin: 1rem auto;
	text-align: center;
}

.actions input:disabled{
	background-color: #C0C0C0;
	opacity: .7;
	cursor:not-allowed;
}

.actions > *{
	display: inline-block;
	border:none;
	text-decoration: none;
	background-color: #2CB334;
	color: #fff;
	font-size: 13px;
	width: 4.5rem;
	padding:.8rem 0;
	border-radius: 12px;
	outline: none;
	-webkit-transition:all .5s;
	transition:all .5s;
	cursor: pointer;
}



.actions > *:hover{
	background-color: #0C8813;
}


@-webkit-keyframes myanimation {
  from {
    left: 0%;
  }
  to {
    left: 50%;
  }
}
h1 {
  text-align: center;
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: 400;
  font-size: 20px;
  padding: 20px 0;
  color: #777;
}

.checkout-wrap {
  color: #444;
  font-family: 'PT Sans Caption', sans-serif;
  margin: 40px auto;
  max-width: 1100px;
  position: relative;
}

ul.checkout-bar li {
  color: #ccc;
  display: block;
  font-size: 16px;
  font-weight: 600;
  padding: 14px 20px 14px 80px;
  position: relative;
}

ul.checkout-bar li.active {
  color: #8bc53f;
  font-weight: bold;
}

ul.checkout-bar li.visited {
  background: #ECECEC;
  color: #57aed1;
  z-index: 100;
}

ul.checkout-bar li span {
  -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
  box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
  background: #ddd;
  border: 2px solid #FFF;
  border-radius: 50%;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  left: 20px;
  line-height: 37px;
  height: 35px;
  position: absolute;
  text-align: center;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  top: 4px;
  width: 35px;
  z-index: 999;
}

ul.checkout-bar li.active span {
  background: #8bc53f;
  z-index: 100;
}


ul.checkout-bar li.visited span {
  background: #57aed1;
  z-index: 100;
}

ul.checkout-bar a {
  color: #57aed1;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}

@media all and (min-width: 800px) {
  .checkout-bar li.active:after {
    -webkit-animation: myanimation 3s 0;
    background-size: 35px 35px;
    background-color: #8bc53f;
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    content: "";
    height: 15px;
    width: 100%;
    left: 50%;
    position: absolute;
    top: -50px;
    z-index: 0;
  }

  .checkout-wrap {
    margin: 80px auto;
  }

  ul.checkout-bar {
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    background-size: 35px 35px;
    background-color: #EcEcEc;
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
    border-radius: 15px;
    height: 15px;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  ul.checkout-bar:before {
    background-size: 35px 35px;
    background-color: #57aed1;
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    content: " ";
    height: 15px;
    left: 0;
    position: absolute;
    width: 10%;
  }

  ul.checkout-bar li {
    display: inline-block;
    margin: 50px 0 0;
    padding: 0;
    text-align: center;
    width:100%;
  }
  ul.checkout-bar li span {
    height: 45px;
    left: 40%;
    line-height: 45px;
    position: absolute;
    top: -65px;
    width: 45px;
    z-index: 99;
  }
  ul.checkout-bar li.visited {
    background: none;
  }
  ul.checkout-bar li.visited:after {
    background-size: 35px 35px;
    background-color: #57aed1;
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    content: "";
    height: 15px;
    left: 50%;
    position: absolute;
    top: -50px;
    width: 100%;
    z-index: 99;
  }
}
/* 15/10/2015 */
html{
  height: 100%;
}
body {
  min-height: 100%;
}
body{
  font-family: Arial;
  color: #4B4B4B;

  background-color: rgba(170, 183, 26, 0.2);
  background-image: url(../imagenes/bg.png);
  background-position: 0% 100%;
  background-repeat: no-repeat;
}

form{
  display: block;
}

/* Buttons */
.actions {
  width: 100%;
}
/*
#exit, input[type=submit]{
  border: medium none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: transparent none repeat scroll 0% 0%;
  cursor: pointer;
  padding: 25px 80px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  outline: medium none;
  position: relative;
  transition: all 0.3s ease 0s;
  border-radius: 0px;
  padding: 10px;
  width: auto;
  min-width: 4.5rem;
  border-radius: 5px 5px 5px 5px;
  background: #70B347 none repeat scroll 0% 0%;
  color: #FFF;
  box-shadow: 0px 6px rgb(63, 122, 27);
  transition: none 0s ease 0s;
}

.actions > :hover {
    background-color:#70B347;
}

.actions input:disabled{
  box-shadow: 0px 6px #868686;
}

.actions input:disabled:hover{
  box-shadow: 0px 4px #868686;
}

input[type=submit]:hover{
  box-shadow: 0px 4px rgb(63, 122, 27);
  top: 2px;
}

#exit:hover{
  box-shadow: 0px 4px #C38300;
  top: 2px;
}

#exit{
  height: 19px;
  vertical-align: middle;
  top: -1px;
  position: relative;

  background: rgb(238, 160, 1) none repeat scroll 0% 0%;
  box-shadow: 0px 6px #C38300;
}

*/

#exit, input[type=submit] {
    display: inline-block;
    vertical-align: middle;
    background-color: transparent;
    color: #5B8727;
    border: 1px solid #5B8727;
    text-decoration: none;
    border-radius: 8px;
    font-size: 14px;
    padding: 10px;
    transition: all 0.3s ease;
    width: auto;
    min-width: 100px;
    margin: 10px;

}

input[type=submit]{
    min-width: 122px;
}

#exit:hover, input[type=submit]:hover{
  background-color: rgba(91, 135, 39, 0.07);
}

.actions input:disabled:hover, .actions input:disabled{
  background-color: #F4F4F4 !important;
  border: 1px solid rgba(75, 75, 75, 0.44) !important;
  color: rgba(75, 75, 75, 0.44) !important;
}


/* Radiobuttons  */
.answers{
  padding: 10px 0px;
  margin-top: 20px;
  /*
  border-bottom: 2px solid rgb(65, 133, 197);
  border-top: 2px solid rgb(65, 133, 197);
  */
  /* border-bottom: 2px solid #70B347;*/ /* green */
  border-top: 2px solid #70B347; /* green */

  padding-bottom: 20px;
  /*
  border-left: 2px solid;
  border-right: 2px solid;

  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  */
}

.answers .answer{
  width: 94%;
  margin-left: 5%;
  margin-right: 1%;
  display: inline-block;
  margin-bottom: 0px;
}

input[type="radio"] {
    display:none;
}
.answer label {
    font-family:Arial, sans-serif;
    font-size:14px;
    cursor: pointer;
    width: 90%;
    float: left;
    margin-left: -30px;
    padding-left: 30px;
}
input[type="radio"] + span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 10px 0 0;
    vertical-align:middle;
    cursor:auto;
    -moz-border-radius:  50%;
    border-radius:  50%;
    float: left;
}

input[type="radio"] + span {
     background-color: rgba(185, 217, 163, 0.48);
}

input[type="radio"]:checked + span{
     background-color: #70B347; /* rgb(65, 133, 197);*/ /* blue */
}

input[type="radio"] + span, input[type="radio"]:checked + span {
  -webkit-transition:background-color 0.4s linear;
  -o-transition:background-color 0.4s linear;
  -moz-transition:background-color 0.4s linear;
  transition:background-color 0.4s linear;
}

/* Description  */
figure.figure{
  margin-bottom: 0px;
}
.figure .desc{
  font-size: 1.1em;
  padding-top: 20px;
  /*
  border-left: 2px solid;
  border-right: 2px solid;
  border-top: 2px solid;
  */
  margin-bottom: 0px;

/*
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
*/
  width: 53%;
  padding-left: 1%;
  padding-right: 1%;

  text-align: left;
  margin-top: -7px;
}

/* ProgressBar #70B347, rgb(65, 133, 197) */
ul.checkout-bar::before, ul.checkout-bar li.visited::after {
    background-color: #70B347; /* blue */
}

ul.checkout-bar li::before {
  box-shadow: none;
  text-shadow: none;
}

ul.checkout-bar li.visited::before {
  background: #70B347 !important;
}

ul.checkout-bar li.active::before {
  background: #B9D9A3; /* rgb(65, 133, 197) none repeat scroll 0% 0%; */
}

ul.checkout-bar li.active.visited::before {
    background: rgb(65, 133, 197) none repeat scroll 0% 0%;
}

.checkout-bar li.active::after {
  background-color: #B9D9A3 ; /* rgb(65, 133, 197); */
}

ul.checkout-bar{
  padding-left: 0px;
}

@media (max-width: 799px){
  ul.checkout-bar li{
    display: inline-block;
    padding: 14px 20px 14px 6px;
  }
  ul.checkout-bar{
    text-align: center;
    padding-left: 0px;
    margin-left: -56px;
  }
}

ul.checkout-bar li.active:last-child::after{
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 50%;
}

/* Photo */
.figure .photo {
    width: 50%;
    margin-bottom: 0px;
    margin-top: 0px;
}

.content{
  display: block;
  background-color: rgba(255,255,255,0.5);
  width: 80%;
  margin: 0px auto;
  max-width: 1400px;
  padding: 30px;
  margin-top: 50px;
}

.checkout-wrap {
    margin: 0px auto;
    height: 34px;
    padding-top: 50px;
}


/* animation */
.answer{
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.answer:nth-child(2){
  -webkit-animation-delay: 0.1s !important; /* Chrome, Safari, Opera */
  animation-delay: 0.1s !important;
}

.answer:nth-child(3){
  -webkit-animation-delay: 0.2s !important; /* Chrome, Safari, Opera */
  animation-delay: 0.2s !important;
}

.answer:nth-child(4){
  -webkit-animation-delay: 0.3s !important; /* Chrome, Safari, Opera */
  animation-delay: 0.3s !important;
}

.answer:nth-child(5){
  -webkit-animation-delay: 0.4s !important; /* Chrome, Safari, Opera */
  animation-delay: 0.4s !important;
}

.photo{
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-delay: 2s !important; /* Chrome, Safari, Opera */
  animation-delay: 2s !important;
}

@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}


@-webkit-keyframes flash {
  from, 50%, to {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

@keyframes flash {
  from, 50%, to {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}


.answer {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}

/*
.content {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}

*/


/* animation photo */
/*
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.photo {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-transition-delay: 2s;
  -moz-transition-delay: 2s;
  -o-transition-delay: 2s;
  transition-delay: 2s;
}
*/


ul.checkout-bar li.visited span {
    background: #8BC53F none repeat scroll 0% 0%;
}